body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

main.col-md-10, main .col-lg-10, main .row {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto Bold), url(font/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto Light), url(font/Roboto-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto Regular), url(font/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000000;
    color: #ffffff;
}

.sidebar .fas.fa-heart {
    color: #f00;
}

.sidebar .nav-link {
    color: #ffffff;
}

.nav-link {
    padding-left: 0;
}

#fullscreen {
    padding: 0;
    height: 100vh;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}


.imortalreis {
    position: absolute;
    height: 80%;
    bottom: 0;
}

.imortalreis > img {
    position: relative;
    height: 100%;
}

main > #fullscreen h1 {
    font-size: 50px;
}

main > #fullscreen .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #fff;
    border-radius: 0;
}



